name: Cron Run-Ai-Tag
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  ping-render:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install playwright
      - run : npx playwright install
      - run: |
          node -e "
          const { chromium } = require('playwright');
          (async () => {
            const browser = await chromium.launch({ headless: false });
            const page = await browser.newPage();
            await page.goto('https://atr.devando.in/');
            await page.waitForTimeout(50000);
            await browser.close();
          })();
          "
